header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px;
}

.navigation {
  display: inline-block;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 10px;
  }

  .logo span {
    padding-left: 10px;
  }

div {
  border: 1px solid black;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

.headline {
  padding: 5px 0px;
}

.news {
  margin: 5px 0px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  }

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
}

.news {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image {
  height: 300px;
}

.main-story {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  background-image: url("../images/main-story.png");
  height: 300px;
}

.image.earth {
  background-image: url("../images/fall-season.png");
}

.image.camera {
  background-image: url("../images/hipster-cameraman.png");
}

.image.cat {
  background-image: url("../images/cat.png");
}
